__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
*.swp
*.swo
*~
.DS_Store
.settings/
.vscode/
.vs/
.mypy_cache/
.pytest_cache/
.hypothesis/
__pypackages__/
registrations.db
*.db